.yes {
  color:black;
  font-family:courier;
  font-size:300%;
}

.test {
  color:black;
  font-family:helvetica;
  font-size:100%;
  margin:120px;
}

/* The following is work on the navbar specifically. */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: green;
  width: 200px;
  border: 1px solid gray;
}

li a {
  display: block;
  background-color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align:center;
  border-bottom: 1px solid gray;
}

li a:last-child {
  border-bottom: none;
}

li a:hover {
  background-color:green;
  color:white;
}

.active {
  background-color:blue;
  color:white;
}

/* Navbar work ends here. */

/*a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decorationn: none;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}*/
