.yes {
  color:black;
  font-family:courier;
  font-size:300%;
}

.test {
  color:black;
  font-family:helvetica;
  font-size:100%;
  margin:120px;
}

.try {
  color:red;
  font-size:200%;
}

.nav {
  color:white;
}
