.yes { /* headers */
  color:black;
  font-family:"verdana";
  font-size:300%;
  text-align:center;
}

.yes2 { /* headers */
  color:white;
  font-family:"verdana";
  font-size:300%;
  text-align:center;
}

/*.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin:auto;
}*/

.darktheme { /* body */
  color:white;
  font-family:helvetica;
  font-size:100%;
  margin:auto;
  text-align:center;
  background-color:rgb(51,51,50);
}

.para1 { /* paragraphs */
  color:black;
  font-family:helvetica;
  font-size:100%;
  margin:120px;
  text-align:center;
}

.para2 { /* paragraphs */
  color:white;
  font-family:helvetica;
  font-size:100%;
  margin:120px;
  text-align:center;
}

.overgalaxy { /* white overlay */
  background-color:white;
  color:black;
  margin: 0;
  padding: 0;
  text-align:center;
  font-family:"verdana";
}

/* The following is work on the horizontal navbar specifically. */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  border-right: 1px solid gray;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: lime;
  color: white;
}

li:last-child {
  border-right: none;
}

/* Horizontal navbar work ends here. /*

/* The following is work on the vertical navbar specifically.
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: green;
  width: 200px;
  border: 1px solid gray;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  background-color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align:center;
  border-bottom: 1px solid gray;
  font-family:sans-serif;
  color:white;
  float: left;
}

li a:last-child {
  border-bottom: none;
  float: left;
}

li a:hover {
  background-color:lime;
  color:white;
}

*/

.active {
  background-color:green;
  color:white;
}

/* Vertical navbar work ends here. */

/*a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decorationn: none;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}*/
